.note{
    width: 25rem;
    border-radius: 8px;
    color: black;
    height: auto;
    position: absolute;
}
.header{
    padding: 1rem;
    border-radius: 8px 8px 0 0;
    background-color: #fdfd7f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    cursor: pointer;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin-left: 4px;
    transition: all 0.2s;
    border-radius: 50%;
}
.button:hover{
    background-color: #5050502f;
    transform: scale(1.05);
}
.button:active{
    opacity: 0.5;
}


textarea{
    color: black;
    width: 100%;
    min-height: 5rem;
    border-radius: 0 0 8px 8px;
    background-color: inherit;
    border: none;
    resize: none;
    padding: 0.5rem;
    overflow: hidden;
}
textarea:focus{
    outline: none;
}
footer{
    background-color: inherit;
    padding: 0.5rem;
    border-radius: 0 0 8px 8px;
}
footer input{
    background-color: inherit;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    font-size: 13px;
    border: none;
    padding: 3px;
}
footer input:focus{
    border: black;
}
footer button{
    background-color: rgba(117, 117, 117, 0.445);
    width: 15px;
    height: 15px;
    color: black;
    border: none;
    border-radius: 50%;
    margin-left: 3px;
    cursor: pointer;
}
.category{
    margin-right: 10px;
    color: rgba(109, 109, 109, 0.836);
    font-size: 13px;
}